{{- $t := .ThemeTemplates -}}
{
  "$schema": "https://zed.dev/schema/themes/v0.2.0.json",
  "author": "Albert Skonieczny <github.com/albertsko>",
  "name": "{{ .Name }}",
  "themes": [
{{ renderThemeTemplates $t }}
  ]
}
