{{ $p := .Palette }}
{
  "appearance": "{{ .Appearance }}",
  "name": "{{ .Name }}",
  "style": {
    "accents": ["{{ $p.Statusline1 }}"],
    "background": "{{ $p.Bg0 }}dd",
    "background.appearance": "blurred",
    "border": "{{ $p.BgDim }}",
    "border.disabled": "{{ $p.BgRed }}dd",
    "border.focused": "{{ $p.Statusline1 }}",
    "border.selected": "{{ $p.Statusline1 }}",
    "border.transparent": null,
    "border.variant": "{{ $p.BgDim }}",
    "conflict": "{{ $p.Yellow }}",
    "conflict.background": "{{ $p.BgYellow }}dd",
    "conflict.border": "{{ $p.BgYellow }}dd",
    "created": "{{ $p.Green }}",
    "created.background": "{{ $p.BgGreen }}dd",
    "created.border": "{{ $p.BgGreen }}dd",
    "deleted": "{{ $p.Red }}",
    "deleted.background": "{{ $p.BgRed }}dd",
    "deleted.border": "{{ $p.BgRed }}dd",
    "drop_target.background": "{{ $p.BgVisual }}dd",
    "editor.active_line_number": "{{ $p.Fg }}",
    "editor.active_line.background": "{{ $p.Bg1 }}00",
    "editor.active_wrap_guide": "{{ $p.Bg3 }}dd",
    "editor.background": "{{ $p.Bg0 }}00",
    "editor.document_highlight.bracket_background": "{{ $p.Bg3 }}dd",
    "editor.document_highlight.read_background": "{{ $p.BgBlue }}dd",
    "editor.document_highlight.write_background": "{{ $p.BgRed }}dd",
    "editor.foreground": "{{ $p.Fg }}dd",
    "editor.gutter.background": "{{ $p.Bg0 }}00",
    "editor.highlighted_line.background": "{{ $p.Bg1 }}dd",
    "editor.indent_guide": "{{ $p.Bg2 }}dd",
    "editor.indent_guide_active": "{{ $p.Bg4 }}dd",
    "editor.invisible": "{{ $p.Bg4 }}dd",
    "editor.line_number": "{{ $p.Grey0 }}dd",
    "editor.subheader.background": "{{ $p.Bg1 }}dd",
    "editor.wrap_guide": "{{ $p.Bg4 }}dd",
    "element.active": "{{ $p.BgGreen }}",
    "element.background": "{{ $p.Bg0 }}",
    "element.disabled": "{{ $p.Bg2 }}",
    "element.hover": "{{ $p.BgGreen }}",
    "element.selected": "{{ $p.BgGreen }}",
    "elevated_surface.background": "{{ $p.Bg0 }}",
    "error": "{{ $p.Red }}",
    "error.background": "{{ $p.BgRed }}dd",
    "error.border": "{{ $p.BgRed }}dd",
    "ghost_element.active": "{{ $p.BgGreen }}",
    "ghost_element.background": "{{ $p.Bg0 }}",
    "ghost_element.disabled": "{{ $p.Bg2 }}",
    "ghost_element.hover": "{{ $p.BgGreen }}",
    "ghost_element.selected": "{{ $p.BgGreen }}",
    "hidden": "{{ $p.Grey1 }}",
    "hidden.background": "{{ $p.Bg1 }}dd",
    "hidden.border": "{{ $p.Bg1 }}dd",
    "hint": "{{ $p.Purple }}",
    "hint.background": "{{ $p.BgPurple }}dd",
    "hint.border": "{{ $p.BgPurple }}dd",
    "icon": "{{ $p.Fg }}dd",
    "icon.accent": "{{ $p.Green }}",
    "icon.disabled": "{{ $p.Grey1 }}",
    "icon.muted": "{{ $p.Grey1 }}",
    "icon.placeholder": "{{ $p.Grey1 }}",
    "ignored": "{{ $p.Grey1 }}",
    "ignored.background": "{{ $p.Bg1 }}dd",
    "ignored.border": "{{ $p.Bg1 }}dd",
    "info": "{{ $p.Green }}",
    "info.background": "{{ $p.BgGreen }}dd",
    "info.border": "{{ $p.BgGreen }}dd",
    "link_text.hover": "{{ $p.Blue }}",
    "modified": "{{ $p.Blue }}",
    "modified.background": "{{ $p.BgBlue }}dd",
    "modified.border": "{{ $p.BgBlue }}dd",
    "pane_group.border": null,
    "pane.focused_border": "{{ $p.Statusline1 }}",
    "panel.background": "{{ $p.Bg0 }}00",
    "panel.focused_border": "{{ $p.Statusline1 }}",
    "panel.indent_guide": "{{ $p.Bg2 }}dd",
    "panel.indent_guide_active": "{{ $p.Bg4 }}dd",
    "panel.indent_guide_hover": "{{ $p.Bg3 }}dd",
    "players": [
      {
        "background": "{{ $p.Statusline3 }}",
        "cursor": "{{ $p.Statusline3 }}",
        "selection": "{{ $p.BgVisual }}dd"
      }
    ],
    "predictive": "{{ $p.Aqua }}",
    "predictive.background": "{{ $p.Bg2 }}dd",
    "predictive.border": "{{ $p.Bg2 }}dd",
    "renamed": "{{ $p.Purple }}",
    "renamed.background": "{{ $p.BgPurple }}dd",
    "renamed.border": "{{ $p.BgPurple }}dd",
    "scrollbar.thumb.background": "{{ $p.Bg2 }}dd",
    "scrollbar.thumb.border": "{{ $p.Bg2 }}dd",
    "scrollbar.thumb.hover_background": "{{ $p.Bg2 }}dd",
    "scrollbar.track.background": "{{ $p.Bg0 }}00",
    "scrollbar.track.border": "{{ $p.Bg0 }}00",
    "search.match_background": "{{ $p.Bg3 }}dd",
    "status_bar.background": "{{ $p.Bg0 }}dd",
    "success": "{{ $p.Green }}",
    "success.background": "{{ $p.BgGreen }}dd",
    "success.border": "{{ $p.BgGreen }}dd",
    "surface.background": "{{ $p.Bg0 }}dd",
    "syntax": {
      "attribute": { "color": "{{ $p.Purple }}" },
      "boolean": { "color": "{{ $p.Purple }}" },
      "comment": { "color": "{{ $p.Grey1 }}" },
      "comment.doc": { "color": "{{ $p.Grey2 }}" },
      "constant": { "color": "{{ $p.Fg }}" },
      "constant.builtin": { "color": "{{ $p.Aqua }}" },
      "constructor": { "color": "{{ $p.Green }}" },
      "embedded": { "color": "{{ $p.Green }}" },
      "emphasis": { "color": "{{ $p.Aqua }}", "font_style": "italic" },
      "emphasis.strong": { "color": "{{ $p.Aqua }}", "font_weight": 600 },
      "enum": { "color": "{{ $p.Yellow }}" },
      "function": { "color": "{{ $p.Green }}" },
      "function.builtin": { "color": "{{ $p.Green }}" },
      "hint": { "color": "{{ $p.Purple }}" },
      "keyword": { "color": "{{ $p.Red }}" },
      "label": { "color": "{{ $p.Orange }}" },
      "link_text": { "color": "{{ $p.Yellow }}" },
      "link_uri": { "color": "{{ $p.Blue }}" },
      "namespace": { "color": "{{ $p.Yellow }}" },
      "number": { "color": "{{ $p.Purple }}" },
      "operator": { "color": "{{ $p.Orange }}" },
      "predictive": { "color": "{{ $p.Grey1 }}" },
      "preproc": { "color": "{{ $p.Purple }}" },
      "primary": { "color": "{{ $p.Fg }}" },
      "property": { "color": "{{ $p.Blue }}" },
      "punctuation": { "color": "{{ $p.Grey1 }}" },
      "punctuation.bracket": { "color": "{{ $p.Fg }}" },
      "punctuation.delimiter": { "color": "{{ $p.Grey1 }}" },
      "punctuation.list_marker": { "color": "{{ $p.Blue }}" },
      "punctuation.markup": { "color": "{{ $p.Grey1 }}" },
      "punctuation.special": { "color": "{{ $p.Blue }}" },
      "selector": { "color": "{{ $p.Orange }}" },
      "selector.pseudo": { "color": "{{ $p.Purple }}" },
      "string": { "color": "{{ $p.Aqua }}" },
      "string.escape": { "color": "{{ $p.Green }}" },
      "string.regex": { "color": "{{ $p.Green }}" },
      "string.special": { "color": "{{ $p.Yellow }}" },
      "string.special.symbol": { "color": "{{ $p.Fg }}" },
      "tag": { "color": "{{ $p.Orange }}" },
      "tag.doctype": { "color": "{{ $p.Purple }}" },
      "text.literal": { "color": "{{ $p.Green }}" },
      "title": { "color": "{{ $p.Orange }}" },
      "type": { "color": "{{ $p.Yellow }}" },
      "variable": { "color": "{{ $p.Fg }}" },
      "variable.special": { "color": "{{ $p.Purple }}" },
      "variant": { "color": "{{ $p.Fg }}" }
    },
    "tab_bar.background": "{{ $p.Bg0 }}00",
    "tab.active_background": "{{ $p.BgGreen }}dd",
    "tab.inactive_background": "{{ $p.Bg0 }}00",
    "terminal.ansi.background": "{{ $p.Bg0 }}",
    "terminal.ansi.black": "{{ $p.BgDim }}",
    "terminal.ansi.blue": "{{ $p.Blue }}",
    "terminal.ansi.bright_black": "{{ $p.Grey1 }}",
    "terminal.ansi.bright_blue": "{{ $p.Blue }}",
    "terminal.ansi.bright_cyan": "{{ $p.Aqua }}",
    "terminal.ansi.bright_green": "{{ $p.Green }}",
    "terminal.ansi.bright_magenta": "{{ $p.Purple }}",
    "terminal.ansi.bright_red": "{{ $p.Red }}",
    "terminal.ansi.bright_white": "{{ $p.Fg }}",
    "terminal.ansi.bright_yellow": "{{ $p.Yellow }}",
    "terminal.ansi.cyan": "{{ $p.Aqua }}",
    "terminal.ansi.dim_black": "{{ $p.Bg0 }}",
    "terminal.ansi.dim_blue": "{{ $p.BgBlue }}",
    "terminal.ansi.dim_cyan": "{{ $p.BgGreen }}",
    "terminal.ansi.dim_green": "{{ $p.BgGreen }}",
    "terminal.ansi.dim_magenta": "{{ $p.BgPurple }}",
    "terminal.ansi.dim_red": "{{ $p.BgRed }}",
    "terminal.ansi.dim_white": "{{ $p.Grey2 }}",
    "terminal.ansi.dim_yellow": "{{ $p.BgYellow }}",
    "terminal.ansi.green": "{{ $p.Green }}",
    "terminal.ansi.magenta": "{{ $p.Purple }}",
    "terminal.ansi.red": "{{ $p.Red }}",
    "terminal.ansi.white": "{{ $p.Fg }}",
    "terminal.ansi.yellow": "{{ $p.Yellow }}",
    "terminal.background": "{{ $p.Bg0 }}00",
    "terminal.bright_foreground": "{{ $p.Fg }}dd",
    "terminal.dim_foreground": "{{ $p.Grey1 }}dd",
    "terminal.foreground": "{{ $p.Fg }}dd",
    "text": "{{ $p.Fg }}",
    "text.accent": "{{ $p.Green }}",
    "text.disabled": "{{ $p.Grey1 }}",
    "text.muted": "{{ $p.Grey1 }}",
    "text.placeholder": "{{ $p.Grey1 }}",
    "title_bar.background": "{{ $p.Bg0 }}dd",
    "title_bar.inactive_background": "{{ $p.Bg0 }}dd",
    "toolbar.background": "{{ $p.Bg0 }}00",
    "unreachable": "{{ $p.Purple }}",
    "unreachable.background": "{{ $p.BgPurple }}dd",
    "unreachable.border": "{{ $p.BgPurple }}dd",
    "warning": "{{ $p.Yellow }}",
    "warning.background": "{{ $p.BgYellow }}dd",
    "warning.border": "{{ $p.BgYellow }}dd"
  }
}
